.services-section {
    padding: 50px 0;
    background: linear-gradient(to bottom, #fff, #f8f9fa);
  }
  
  h2 {
    color:#b62632;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .service-card {
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-color: #900;
  }
  
  .service-card img {
    width: 60px;
    margin: 20px auto;
  }
  
  .service-card .card-body {
    background: white;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.15);
  }
  